<div class="release-history-table">

    <h2>Repository Deployment History</h2>
    <br/>

    <div class="release-day-group" ng-repeat="key in historyCtrl.orderedReleaseKeys">
        <div class="row release-day-entry" ng-repeat="entry in historyCtrl.releaseHistory[key]">
            <div class="col-xs-3 release-day-date">
                <span  ng-if="$first">
                    {{ key | date: 'dd-MM-yyyy '}}
                </span>
            </div>
            <div class="col-xs-2 release-day-entry-time">
                {{ entry.releasedAtMs | date:'HH:mm' }}
            </div>
            <div class="col-xs-4 release-day-entry-pipeline">
                <a ng-href="{{ entry.pipelineUrl }}" target="_blank">{{ entry.shortRepoName }}</a>
            </div>
        </div>
    </div>
</div>