body {
    background-color: #8998B5;
}

a {
    color: #3A507B;
    cursor: pointer;
}

.app-header {
    height: 50px;
    background-color: #3A507B;
    color: white;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
}

.app-header-inner {
    display: inline-block;
}

.app-header-icon {
    font-size: 40px;
    padding: 0 20px;
}

.app-header-text {
    font-size: 24px;
    margin-top: 3px;
}

.card-block {
    height: 210px;
}

.card-footer {
    height: 95px;
}

.deployment-icon {
    z-index: 1;
    position: absolute;
    top: -20px;
    left: 270px;
    background-color: coral;
    border-radius: 35px;
    padding: 10px;
    border: 1px solid #BE3E0E;
    box-shadow: -2px 2px 7px;
}

.dash-card {
    width: 300px;
    height: 415px;
    float: left;
    margin: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.75);
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.75);
}

.dash-card-title {
    padding-bottom: 10px;
    height: 70px;
}

.dash-nav-tabs {
    width: 290px;
}

.dash-nav-item {
    width: 138px;
}

.dash-last-commit {
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 4px;
    padding: 5px 0 10px 0;
    font-size: 12px;
}

.dash-last-commit-title {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 10px;
    font-weight: bold;
}

.dash-last-commit-message {
    width: 230px;
    margin-top: -3px;
    text-align: left;
}

.dash-last-commit-item {
    float: left;
    padding-left: 10px;
}

.avatar-icon {
    width: 32px;
    height: 32px;
}

.dash-footer {
    padding: 0;
}

.dash-footer .col-xs-6 {
    padding: 0;
}

.dash-pr-count-container {
    padding: 10px 0;
    font-size: 24px;
    font-weight: bold;
}

.dash-pr-count-container.pr-open {
    border-left: 1px solid rgba(0,0,0,0.125);
}

.pr-open a {
    color: crimson;
}

.dash-pr-count-container.pr-closed {
    color: forestgreen;
}

.pr-open-warning {
    background-color: #FFD3C2;
}

.dash-footer-text-top {
    font-size: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.dash-footer-text-bottom {
    font-size: 12px;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    font-weight: bold;
}