<div class="card text-xs-center dash-card">
    <div class="deployment-icon" ng-if="repository.needsDeployment">
        <img src="images/rocket.png" width="45" title="Needs deployment"/>
    </div>
    <div class="card-header">
        <h2 class="dash-card-title">
            <a ng-href="{{ repository.url }}" target="_blank">{{ repository.name }}</a>
        </h2>
    </div>
    <div class="card-block">
        <div>
            <h5 class="card-title">Last change pushed:</h5>
            <h4>{{ repository.lastPushTimeMs | date:"EEE dd MMM yyyy" }}</h4>
            <div class="dash-last-commit row">
                <div class="dash-last-commit-title">Last commit:</div>
                <div class="dash-last-commit-item">
                    <img class="avatar-icon" ng-src="{{ repository.mostRecentCommit.avatarUrl }}" data-toggle="tooltip" title="{{ repository.mostRecentCommit.owner }}"/>
                </div>
                <div class="dash-last-commit-item dash-last-commit-message">
                    <a ng-href="{{ repository.mostRecentCommit.url }}" target="_blank">{{ truncatedLastCommitMessage }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer dash-footer">
        <div class="dash-footer-text-top">
            Pull requests in the last {{ days }} days:
        </div>
        <div>
            <div class="col-xs-6">
                <div class="dash-pr-count-container pr-closed">
                    {{ closedPullRequests }}
                </div>
                <div class="dash-footer-text-bottom">closed</div>
            </div>
            <div class="col-xs-6">
                <div class="dash-pr-count-container pr-open" ng-class="{'pr-open-warning': openPullRequests > 0 }">
                    <a ng-href="{{ repository.url }}/pulls" target="_blank">{{ openPullRequests }}</a>
                </div>
                <div class="dash-footer-text-bottom">open</div>
            </div>
        </div>
    </div>
</div>
