<div class="card text-xs-center dash-card">
    <div class="card-header">
        <h2 class="dash-card-title">{{ repository.name }}</h2>
        <ul class="nav nav-tabs card-header-tabs pull-xs-left dash-nav-tabs">
            <li class="nav-item dash-nav-item">
                <div class="nav-link"
                     ng-class="{'active': activeTab == 1}"
                     ng-click="showTab(1)"><span class="octicon octicon-repo"></span></div>
            </li>
            <li class="nav-item dash-nav-item">
                <div class="nav-link"
                     ng-class="{'active': activeTab == 2}"
                     ng-click="showTab(2)"><span class="octicon octicon-person"></span></div>
            </li>
        </ul>
    </div>
    <div class="card-block">
        <div ng-show="activeTab == 1">
            <h4 class="card-title">Special title treatment1</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div ng-show="activeTab == 2">
            <h4 class="card-title">Special title treatment2</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
