<div class="user-container">
    <div class="row">
        <div class="col-md-6">Username</div>
        <div class="col-md-6">{{ user.user }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">Total PRs raised</div>
        <div class="col-md-6">{{ user.totalPullRequestsRaised }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">Total PRs commented on</div>
        <div class="col-md-6">{{ user.totalPullRequestsCommentedOn }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">Avg mins to close</div>
        <div class="col-md-6">{{ user.avgMinsToClose }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">Avg mins to comment</div>
        <div class="col-md-6">{{ user.avgMinsToFirstComment }}</div>
    </div>
</div>