body {
    background-color: #8998B5;
}

a {
    color: #3A507B;
}

.app-header {
    height: 50px;
    min-width: 550px;
    background-color: #E3E7EF;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid #5F7298;
}

.app-header-inner {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.app-header-mark {
    margin-top: 1px;
}

.app-header-logo {
    width: 128px;
    margin-top: -8px;
}

.organisation {
    float: right;
    margin-right: 20px;
    border: 1px solid #5F7298;
    padding: 2px 10px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    background-color: #B9C2D5;
    margin-top: 3px;
}

.card-block {
    height: 215px;
}

.card-footer {
    height: 94px;
}

.dash-card {
    width: 300px;
    height: 415px;
    float: left;
    margin: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 40px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 40px 0 rgba(0,0,0,0.75);
    box-shadow: 5px 5px 40px 0 rgba(0,0,0,0.75);
}

.dash-card-title {
    padding-bottom: 10px;
    height: 70px;
}

.dash-nav-tabs {
    width: 290px;
}

.dash-nav-item {
    width: 138px;
}

.dash-last-commit {
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 4px;
    padding: 5px 0 10px 0;
    font-size: 12px;
}

.dash-last-commit-title {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 10px;
    font-weight: bold;
}

.dash-last-commit-message {
    width: 230px;
    margin-top: -3px;
    text-align: left;
}

.dash-last-commit-item {
    float: left;
    padding-left: 10px;
}

.avatar-icon {
    width: 32px;
    height: 32px;
}

.dash-footer {
    padding: 0;
}

.dash-footer .col-xs-6 {
    padding: 0;
}

.dash-pr-count-container {
    padding: 10px 0;
    font-size: 24px;
    font-weight: bold;
}

.dash-pr-count-container.pr-open {
    color: crimson;
    border-left: 1px solid rgba(0,0,0,0.125);
}

.dash-pr-count-container.pr-closed {
    color: forestgreen;
}

.pr-open-warning {
    background-color: #FFEAD9;
}

.dash-footer-text-top {
    font-size: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.dash-footer-text-bottom {
    font-size: 12px;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    font-weight: bold;
}