@() <!DOCTYPE html>
<html>
    <head>
        <base href="/">
        <title data-ng-bind="pageTitle"></title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.ico")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")" />
        @*-- Add More CSS here -- *@
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <script data-main="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>
    </head>
    <body>
        <div class="app-header" data-ng-controller="DashHeaderCtrl">
            <div class="app-header-inner">
                <span class="app-header-text pull-xs-left">Observation Deck</span>
                <span class="app-header-icon pull-xs-left octicon octicon-eye"></span>
                <span class="app-header-text pull-xs-left">{{ boardName }}</span>
            </div>
            <a href="/repositories">
                <span class="app-header-link repos-icon mega-octicon octicon-repo"></span>
            </a>
            <a href="/history">
                <span class="app-header-link history-icon mega-octicon octicon-clock"></span>
            </a>
                <!--<a href="/users">-->
            <span class="app-header-link users-icon mega-octicon octicon-organization"></span>
                <!--</a>-->
        </div>
        <div ng-view></div>
    </body>
</html>
