@() <!DOCTYPE html>
<html>
    <head>
        <base href="/">
        <title data-ng-bind="pageTitle"></title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.ico")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")" />
        @*-- Add More CSS here -- *@
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <script data-main="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>
    </head>
    <body>
        <dash-header></dash-header>
        <div ng-view></div>
    </body>
</html>
